* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* ## Colors */

  /* ### Primary */
  --Blue: hsl(193, 38%, 86%);
  --Green: hsl(150, 100%, 66%);
  --btn-shadow: hsl(150, 83%, 76%);

  /* ### Neutral */
  --Blue900: hsl(217, 19%, 24%);
  --Bg-color: hsl(218, 23%, 16%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-color: var(--Bg-color);
}
main {
  background-color: var(--Blue900);
  text-align: center;
  padding: 2em;
  border-radius: 1rem;
  width: min(80%, 25em);
  position: relative;
}
.advice-title {
  color: var(--Green);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

.indicator-error {
  font-size: clamp(0.75rem, 4vw, 1.5rem);
  padding-block: 1em;
  color: red;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.advice-text {
  padding-block: 2em;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  color: var(--Blue);
  font-size: clamp(0.9rem, 4vw, 2rem);
  line-height: 1.2;
  overflow-wrap: break-word;
}
.generate-button {
  border: none;
  padding: 0.9em;
  border-radius: 100%;
  background-color: var(--Green);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.generate-button:hover {
  box-shadow: 0 0 1em var(--btn-shadow);
  cursor: pointer;
}
footer {
  margin-top: 5em;
}
